<style>
    .global-app-footer {
        width: 100%;
        padding: 8px 16px;
        font-size: 12px;
        text-align: center;
        color: #6b7280;
        background: transparent;
    }

    body[data-route^="login"] .global-app-footer {
        position: fixed;
        bottom: 0;
    }
</style>

<div class="global-app-footer">
    Created by <a href="mailto:alonbr@pm.me">Alon Ben Refael</a> ·
        Powered by <a href="https://frappeframework.com/homepage" target="_blank" rel="noopener">Frappe Framework
    </a>
</div>

